<div class="side">
	 <div>
		  <i class="fa fa-tags"></i>
		  Tags
	 </div>
	 <div class="tags-cloud">


		  <a href="category_1.html" style="font-size: 10pt; color: #888;">project_1</a>


		  <a href="category_2.html" style="font-size: 9.5pt; color: #888;">project_2</a>


		  <a href="category_3.html" style="font-size: 9pt; color: #999;">project_3</a>


		  <a href="category_4.html" style="font-size: 12.5pt; color: #555;">project_4</a>


		  <a href="category_5.html" style="font-size: 14pt; color: #444;">project_5</a>


		  <a href="category_6.html" style="font-size: 9pt; color: #999;">project_6</a>


		  <a href="category_7.html" style="font-size: 9pt; color: #999;">project_7</a>


		  <a href="category_8.html" style="font-size: 9pt; color: #999;">project_8</a>


		  <a href="category_9.html" style="font-size: 9pt; color: #999;">project_9</a>




	 </div>
</div>